* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
body,
html {
  margin: 0.001px;
  padding: 0.001px;
  overflow-y: hidden;
}

.container{
  height: 100vh;
  width: 100%;
  display: flex;
  background: url(https://www.habasit.com/-/media/Celum-Connect/2020/11/26/12/53/_DSC0149.jpg?w=780) no-repeat;
}

.container_left {
  flex: 0.5;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url(./empty-dark-abstract-background-background-empty-show-scene-glow-neon-lights-neon-figures-empty-concert-stage-reflection-light-pavement_183410-7.webp)55% 100% no-repeat; */
  background-size: cover;
}

#concertimg {
  width: 65%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container_right {
  flex: 0.5;
  display: flex;
  align-items: center;
}

.container_right_form_holder {
  height: 500px;
  width: 100%;
  border: none;
}

.container_right_form_holder > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container_right_form_holder > form > input {
  width: 80%;
  height: 40px;
  margin: 2rem;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  letter-spacing: 1.2;
}

.container_right_form_holder > form > button {
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: rgb(0, 128, 0);
  font-weight: bolder;
  color: #fff;
  font-size: medium;
  letter-spacing: 1.08;
  cursor: pointer;
  width: 80%;
  transition: background-color 0.4s ease;
}

.container_right_form_holder > form > button:hover {
  background-color: darkgreen;
}

.formdivs {
  display: none;
}

#one {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

#two {
  flex-direction: column;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.8;
  letter-spacing: 1.08px;
  text-transform: capitalize;
  width: 90%;
  gap: 1rem;
}

#one > label,
#two > label {
  color: #fff;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.8;
  letter-spacing: 1.08px;
  text-transform: capitalize;
  width: 100%;
}

#one > input,
#two > input {
  width: 50%;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: box-shadow 0.5s ease-in-out;
}

#one > input:hover,
#two > input:hover {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#one > button,
#two > button {
  width: 20%;
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(245, 40, 177, 0.25) 0px 30px 60px -12px inset, rgba(230, 30, 30, 0.3) 0px 18px 36px -18px inset; 
}

#two > button {
  width: 35%;
}

#two > button {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 2px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  background-color: #e9edf1;
}

#two > button:hover {
  background-size: 0 3px, 100% 3px;
}

#inputname {
  background: transparent;
  border: none;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.8;
  letter-spacing: 1.08px;
  text-transform: capitalize;
  width: fit-content;
  color: #fff;
  outline: none;
  cursor : default;
}

/* 

litmus green 50%
#AE3AF4
30%
 crimson 20%

*/

/* animation of form */

#fullname {
  animation: in 0.5s ease-in;
}

@keyframes in{
  0%{
    font-size: small;
  }
}


